config_*.php
admin/config_*.php
!/config_staging.php
!/admin/config_staging.php

!index.html

/download/*
/image/data/*
/image/cache/*
/image/cache/data/*
/system/cache/*
/system/logs/*

.DS_Store
/nbproject
