/.htaccess
/robots.txt

config*.php
admin/config*.php

redirects.php

!index.html

/download/*
/image/*
/system/cache/*
/system/logs/*

.DS_Store
/nbproject

/google*.html
!/admin/controller/amazon/config.php
!/admin/language/english/amazon/config.php
!/admin/language/french/amazon/config.php