@import url(https://fonts.googleapis.com/css?family=Lobster:200,300,400,600,700);

#header #logo a {
    font-size:52px;
	font-family: 'Lobster', sans-serif;
}

#header #cart .heading
{
   font-size:12px;
   font-family:'Lobster', sans-serif;     
}

.box .box-heading 
{	
	font-family: 'Lobster', sans-serif;
}

.box-product .name a,
.product-grid .name a 
{
    font-size:16px;
	font-family: 'Lobster', sans-serif;
}


.product-info h1
{
	font-family: 'Lobster', sans-serif;
}


h1, .welcome {
	font-size: 24px;
	font-weight: normal;
	font-family: 'Lobster', sans-serif;
}

h2 {
	font-size: 14px;
	font-family: 'Lobster', sans-serif;
}
.product-list .name a
{
   font-size:20px;
   font-family: 'Lobster', sans-serif;   	
}
.product-info > .right > .price > .price-p
{
   font-size:24px;
   font-family: 'Lobster', sans-serif;   
}