

.powered-1 { padding:10px;padding-top:17px;padding-bottom:12px}


/* menu */


	
/* menu */
.boss_menu {	margin-bottom: 10px;position:relative;z-index:70 }
#boss_menu { border-bottom: 3px solid;height:60px;margin-bottom:8px}
#boss_menu > ul {	list-style: none;margin: 0;padding: 0;}
#boss_menu > ul > li 
{
	z-index: 20;
	padding: 14px 40px 10px 0;
	display: inline-block;
	position: relative;
	text-align: center;
}
#boss_menu li{ position:relative;}
#boss_menu li:hover { z-index:1600}

#boss_menu > ul > li > a 
{ 
	font-size: 24px;
	
	text-decoration: none;
	display: block;
	padding: 0px 0px 0px 0px; 
	margin-bottom: 0;
	z-index: 6;
	position: relative;
	padding-right:0;
	text-transform:uppercase;
	font-family:'Conv_AdventPro-Regular';
	height:46px;
	transition-duration:0.2s;
	line-height:29px
	
}

#boss_menu > ul > li:first-child> a{padding-left:0}
#boss_menu > ul > li:hover > a { border-bottom:3px solid;}
#boss_menu > ul > li > div.dropdown
{
	
	display:none;
	position:absolute;
	padding:0px 0 25px; 
	z-index:10;	
	border:1px solid #dcdcdc; 
	text-align:left; 
	top:73px; 
	left:0;
	padding-bottom:10px;
	
	
}
#boss_menu > ul > li > div.dropdown  a 
{ 
	
	padding: 4px 10px 4px 20px;
	
	display:inline-block;
	
	
}

#boss_menu > ul > li > div.dropdown ul.manufacturer li a{}
#boss_menu > ul > li > div.dropdown ul.product img{padding-top:20px}
#boss_menu > ul > li > div.dropdown ul.category{padding-bottom:20px}
#boss_menu > ul > li > div.dropdown  a:hover { text-decoration:none;}
#boss_menu > ul > li > div.dropdown  a img { padding:2px;display:block;padding-top:20px }

#boss_menu > ul > li > div.dropdown a.parent
{ 
	color: #2B2B2B;
    display: inline-block;
    font: 400 17px 'Conv_AdventPro-Bold';
    padding: 20px 20px 6px;
    text-transform: uppercase;
	
	}
#boss_menu > ul > li > div.dropdown a.parent:hover{ }
#boss_menu > ul > li > div.dropdown a.parent img{margin-right:10px; margin-bottom:10px}

#boss_menu  > ul > li > div .staticblock h3 
{
	padding:20px 20px 10px 20px; 
	display:block; 
	color:#2b2b2b; 
	font:bold 14px Arial;
	text-transform:uppercase;
	font-family:'Conv_AdventPro-Bold';
	font-weight:400;
	font-size:17px;
}
#boss_menu  > ul > li > div .staticblock p { padding:0 4px 0 20px;color:#505050;margin-bottom:17px}

#boss_menu > ul > li > div.dropdown .manufacturer  a img{margin-bottom:10px}

#boss_menu > ul > li > div.dropdown ul { display:inline-block}
#boss_menu > ul > li > div.dropdown ul.product a{ display:block;font-weight:700;padding-right:0;white-space:pre-wrap}
#boss_menu > ul > li > div.dropdown ul.product span { padding-left:20px}
#boss_menu > ul > li > div.dropdown ul.product span.price-old 
{
	 text-decoration:line-through ; 
	 color: #202020;
    font-family: 'Conv_AdventPro-Bold';
    font-size: 24px;
    font-weight: 400;
	margin-bottom:36px;
 }
#boss_menu > ul > li > div.dropdown ul.product span.price-new 
{ 
	padding-left:10px;
	font-family: 'Conv_AdventPro-Bold';
    font-size: 24px;
    font-weight: 400;
	margin-bottom:36px;
}
#boss_menu > ul > li > div.dropdown ul.product span.price{display:inline;float:left}
#boss_menu > ul > li > div.dropdown ul.product li{overflow:hidden;margin-bottom:15px}
#boss_menu ul li ul li > div.sub_menu{ padding: 12px 0 10px;border: 1px solid #c7c7c7;background: #fff;width:160px;z-index:9999;top:-6px;}
#boss_menu ul li ul li > div.sub_menu{ display:none;position:absolute;top:-13px;left:100%;}
#boss_menu ul li ul li > div.sub_menu ul { width:100%}
#boss_menu ul li ul li > div.sub_menu ul li a:hover{ }
#boss_menu ul li ul li{clear:both}
#boss_menu ul li ul li:hover > div.sub_menu, #boss_menu ul li:hover > div{display:block;}


/*footer*/
.footer-social-setting {}
#footer-block-payment li { float:left; margin-right:5px}
#footer-block-friends img { margin-right:5px}
#boss_menu > ul > li > div.dropdown .staticblock a{padding-left:0}

.column_content { }


